@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-up-element {
    animation: fade-up 1s forwards;
  }

  .foooter {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
  }
